<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block main %}
    <h4><a href="{{site}}">Zmien strone</a></h4>
    <h1 style="background-color: gray;">Witaj na mojej stronie domowej</h1>
    <img src="https://img.freepik.com/premium-zdjecie/albert-einstein-z-kosmicznym-tlem-nauki_470436-1067.jpg" alt="albertus einstainus" width="200px" height="200px">
    {% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>